div.top-bar {
	background-image: url(./images/mountains.png);
	height: 100px;
}

#map {
	height: 300px;
	width: 1200px;
	border: inset;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.adventures {
	padding-top: 45px;
}

.autosize {
	height: 250px;
	text-align: center;
	overflow: scroll;
}
