div.top-bar {
	background-image: url(./images/mountains.png);
	height: 100px;
}

#map {
	height: 300px;
	width: 1200px;
	border: inset;
	border-radius: 10px;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

