div.top-bar {
	background-image: url(./images/mountains.png);
	height: 100px;
}

#map {
	height: 300px;
	width: 1200px;
	border: inset;
	/*border-radius: 10px;*/
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.hikes {
	font-family: helvetica;
	font-size: 22px;
	padding-left: 50px;
	padding-top: 25px;
	padding-bottom: 15px;
	margin-bottom: 25px;
	height: 50px;
}

.hikephoto {
	padding-left: 85px;
}